@media (min-width: 375px) { /*Schermi maggiore o uguale a 375px */
  #slidebar_menu {
    display: flex;
  }
  #menu {
    margin-left: 5px;
    margin-top: 0px;
  }
  #WebResearch {
    width: 500px;
    height: 235px;
  }
}

@media (max-width: 374px) { /*Schermi inferiore a 375px */
  #slidebar_menu {
    display: grid;
  }
  #menu {
    margin-left: 0px;
    margin-top: 5px;
  }
  #WebResearch {
    width: 310px;
    height: 250px;
  }
}